@media screen and (max-width: 768px) {
    #root > main > section > form > fieldset {
        border: none;
    }
    #root > main > section > form > fieldset:nth-child(1) {
        border: none;
    }
}
#root > main > section.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
