#root > main > footer {
    width: 100%; /* Asegurarse de que el footer ocupe todo el ancho de la pantalla */
    text-align: center; /* Centrar el contenido del footer */
    padding: 10px 0; /* Agregar espacio de relleno vertical y eliminar el espacio horizontal */
}
footer {
    color: white;
}
