#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid;
    background-color: rgb(41, 161, 145);
    transition: all 0.9s;
}

#header + * {
    margin-top: 100px;
}

.logo-container {
    display: flex; /* Usamos flexbox para alinear elementos en línea */
    align-items: center; /* Centramos verticalmente los elementos */
}

.logo-container img {
    width: 50px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: auto; /* Para mantener la proporción original */
    margin: 0;
    padding: 25px;
}

h1 {
    font-size: 2em; /* Tamaño del texto */
}

nav.login {
    margin-left: auto; /* Empuja el nav hacia la derecha */
}

#header.not-top {
    border-bottom: 1px solid #444;
    background-color: #010922;
    opacity: 0.8;
    height: 55px;
    transition: 0.9;
}
