/* NavBar.css */

.navBar {
    margin-top: 70px;
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    padding: 10px;
    background-color: black;
    position: fixed;
    width: 140px;
}

.navBar button {
    margin: 5px 0; /* Agrega margen vertical entre los botones */
    background-color: transparent; /* Color de fondo */
    color: rgb(249, 249, 249); /* Color del texto */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    padding: 20px 5px; /* Relleno interno */
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
    font-size: 0.9em;
    font-size: 1.3em;
}

.navBar button:hover {
    background-color: #6c69719c; /* Cambia el color de fondo al pasar el cursor por encima */
}
@media screen and (max-width: 768px) {
    .navBar {
        margin-left: 0;
        border-radius: 5px;
    }
}
