.navBar {
  margin-top: 100px;
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  padding: 10px 0px 10px 10px;
  position: fixed;
  width: 140px;
}

.navBar button {
  margin: 5px 0;
  background-color: transparent;
  color: rgb(249, 249, 249);
  border: none;
  border-radius: 5px;
  padding: 20px 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.9em;
  font-size: 1.3em;
  display: flex;
  gap: 2px;
}

.navBar button:hover {
  background-color: #6c69719c;
}
@media screen and (min-width: 768px) and (max-width: 1250px) {
  .navBar {
    margin-left: 1px;
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .navBar {
    margin-left: 0;
    border-radius: 5px;
  }
}
