.news-container {
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    color: black;
    border-top: 1px solid black;
    padding: 0px;
}

.nav-bar {
    width: 200px;
    padding: 10px;
    border-right: 2px solid #050202;
}

.news-list {
    flex: 1;
    padding: 0px;
}
ul {
    list-style: none;
    margin-top: 0px;
}
.news-item {
    border: 1px solid black; /* Borde alrededor de cada noticia */
    margin-bottom: 10px; /* Margen inferior para separar las noticias */
    padding: 10px; /* Relleno interno para dar espacio al contenido */
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.acordeon {
    margin-top: 10px; /* Para que el botón se ubique en la parte inferior del contenedor */
    margin-bottom: 10px; /* Separación desde la línea divisoria */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 28px;
    padding: 10px 20px;
    cursor: pointer;
}

.acordeon:hover {
    background-color: #0056b3;
}
