p.topic {
    font-size: 0.8em;
    margin: 0;
}
h3 {
    font-weight: normal;
}
article h2 {
    margin: 0;
}
article h3 {
    margin: 10px;
}
article img {
    height: auto;
}
.image-container {
    width: 100%;

    overflow: hidden;
}
section.likes button {
    background-color: transparent;
    border: none;
    transition: transform 0.2s ease;
    color: black;
}

section.likes button:hover {
    transform: scale(1.3);
    background-color: transparent;
}

.news-list a {
    color: rgb(255, 255, 255);
}
.custom-modal {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Alinea elementos horizontalmente al centro */
    gap: 10px; /* /* Otros estilos para centrar el modal en la pantalla */
}
.custom-modal p {
    margin: 0;
}
.custom-modal h2 {
    margin: 0;
}
article.news-display {
    display: flex;
}
section.news-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
section.news-text h2 {
    font-family: MajritTxRoman;
    font-size: 1.7rem;
    line-height: 1.8125rem;
    letter-spacing: -0.0675rem;
    margin: 3px;
}
section.news-text h3 {
    font-family: MajritTxRoman;
    font-size: 1.2rem;
    line-height: 1.8125rem;
    letter-spacing: -0.0675rem;
    margin: 3px;
}
.news-display img {
    max-width: 30vw;

    border-radius: 8px;
    top: 0px;
    left: 0px;
    bottom: 0px;
}
#root
    > main
    > main
    > div
    > main
    > section.news-list
    > ul
    > li
    > article
    > section
    > section.likes {
    display: flex;
}
@media screen and (max-width: 768px) {
    article.news-display {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .news-display img {
        min-width: 350px; /* Establece el ancho fijo deseado */
        max-width: 350px;
        min-height: 280px;
        max-height: 280px;
        border-radius: 8px;
        top: 0px;
        left: 0px;
        bottom: 0px;
    }
    .news-item {
        padding: 1px;
    }
    li.news-item {
        margin-right: 0;
    }
    section.news-text {
        align-items: center;
    }
}
