p.topic {
    font-size: 0.8em;
    margin: 0;
}
h3 {
    font-weight: normal;
}
article h2 {
    margin: 0;
}
article h3 {
    margin: 10px;
}
article img {
    height: auto; /* Ejemplo de estilo para mantener la proporción de la imagen */

    width: 700px;
}
section.likes button {
    background-color: transparent;
    border: none;
}
