/* Estilo para el cuerpo de la página */
body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
header {
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para el titulo */
.header-title {
    margin-left: 20px;
    color: #000000;
}

/* Estilo para el menu de navegacion*/
nav {
    margin-right: 50px;
}

/* Estilo para el contenido principal */
main {
    background-color: #000000; /* Color de fondo gris claro */
    padding: 0px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    color: white;
    min-height: 86vh;
}

/* Estilo para los enlaces de navegación */
nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    color: #fff; /* Color de texto blanco al pasar el mouse */
    background-color: transparent; /* Color de fondo oscuro al pasar el mouse */
    border-radius: 5px;
    box-sizing: 5px;
}

/* Estilo para las noticias */
.news {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: left;
}

/* Estilo para el título de las noticias */
.news h2 {
    color: #ffffff;
    background-color: #555555;
    padding: 10px;
    margin-top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Estilo para el contenido de las noticias */
.news p {
    color: #000000;
    margin: 10px 0;
}

/* Estilo para el botón de registro y login */
.button {
    background-color: #363434;
    color: #426fb2;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

.button:hover {
    background-color: #bbb5b8; /* Color de fondo al pasar el mouse */
}

/* Estilo para la página no encontrada */
.not-found {
    font-size: 24px;
    color: #ff0000; /* Color de texto rojo */
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: darkblue;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root > main > footer {
    left: 0;
    bottom: 0;
    width: 100%; /* Asegurarse de que el footer ocupe todo el ancho de la pantalla */
    text-align: center; /* Centrar el contenido del footer */
    padding: 10px 0; /* Agregar espacio de relleno vertical y eliminar el espacio horizontal */
}

/* CSS Variables */
:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #000000;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}
#root > main > section > form {
    border: 3px solid red;
}
