/* Estilo para el cuerpo de la página */
body {
    background-color: #f1f1f1;

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
header {
    background-color: #f1f1f1;
    text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para el titulo */
.header-title {
    margin-left: 20px;
    color: #0e0864;
}

/* Estilo para el menu de nevegacion*/
nav {
    margin-right: 20px;
}

/* Estilo para el pie de página */
footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px 0;
}

/* Estilo para el contenido principal */
main {
    background-color: #f1f1f1; /* Color de fondo gris claro */
    padding: 0px;
    text-align: center;
}

/* Estilo para los enlaces de navegación */
nav a {
    color: darkblue;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    color: #fff; /* Color de texto blanco al pasar el mouse */
    background-color: #333; /* Color de fondo oscuro al pasar el mouse */
    border-radius: 5px;
}

/* Estilo para las noticias */
.news {
    background-color: #d7d9d6;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    text-align: left;
}

/* Estilo para el título de las noticias */
.news h2 {
    color: #0e0864;
    background-color: #555555;
    padding: 10px;
    margin-top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Estilo para el contenido de las noticias */
.news p {
    color: #426fb2;
    margin: 10px 0;
}

/* Estilo para el botón de registro y login */
.button {
    background-color: #555555;
    color: #426fb2;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.button:hover {
    background-color: #ff007f; /* Color de fondo al pasar el mouse */
}

/* Estilo para la página no encontrada */
.not-found {
    font-size: 24px;
    color: #ff0000; /* Color de texto rojo */
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: darkblue;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* CSS Variables */
:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

footer {
    background-color: black;
    color: white;
}
